<div class="category_list">

    <p class="step">Выберите категорию из списка</p>
    <div class="cat_options">
        <form class="select_cat" method="post">
                {% for category in category_list %}
                <a href="/add_product/?category_id={{category.id}}">{{category.name}}</a>
                {% endfor %}
                <a href="/add_product/">все</a>
<!--            <select class="basic_button" id="category" name="category" onchange="changedText(this.value);">-->
<!--                    <option value="meat">Мясо</option>-->
<!--                    <option value="fish">Рыбы</option>-->
<!--                    <option value="vegetables">Овощи</option>-->
<!--                    <option value="dairy">Молочный</option>-->
<!--                    <option value="other">Другой</option>-->
<!--            </select>-->
 </form>
    {% if is_admin %}
    <a href="/create_category/" class="basic_button" type="button" style="text-decoration: none;">Создать новую категорию </a>
    {% endif %}
    <!--From Bootstrap-->
<!--<p>-->
<!--  <button class="basic_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--    Создать новую категорию-->
<!--  </button>-->
<!--</p>-->
<!--<div class="collapse" id="collapseExample">-->
<!--  <div class="card card-body">-->
<!--    <form method="post">-->
<!--            <label class="step">Введите название новой категории:</label><br>-->
<!--            <input class="new_cat_name" type="text" name="new_category_name" placeholder="Название"><br>-->
<!--            <button class="basic_button" type="submit" id="submit_cat">Сохранить</button>-->
<!--        </form>-->
<!--          </div>-->
<!--        </div>-->

{% if is_admin %}
     <a href="/del_category/" class="basic_button" type="button" style="text-decoration: none;">Удалить категорию </a>
{% endif %}
<!--            <p>-->
<!--  <button class="basic_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">-->
<!--    Удалить категорию-->
<!--  </button>-->
<!--</p>-->
<!--<div class="collapse" id="collapseExample1">-->
<!--  <div class="card card-body">-->
<!--    <form method="post">-->
<!--        <label class="step">Выберите категорию для удаления:</label><br>-->
<!--             <select class="basic_button" id="" name="">-->
<!--                    <option value="" disabled selected>Выбрать категорию</option>-->
<!--                    <option value="meat">Мясо</option>-->
<!--                    <option value="fish">Рыбы</option>-->
<!--                    <option value="vegetables">Овощи</option>-->
<!--                    <option value="dairy">Молочный</option>-->
<!--                    <option value="other">Другой</option>-->
<!--            </select><br>-->
<!--            <button class="basic_button" type="submit" id="delete_cat">Удалить</button>-->
<!--        </form>-->
<!--          </div>-->
<!--        </div>-->

    </div>
    </div>