<div class="category_list">

    <p class="step">Выберите категорию из списка</p>
    <div class="cat_options">
        <form class="select_cat" method="post">
            <select class="basic_button category_select" id="category" name="category">
                {% for category in category_list %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}

            </select>
        </form>
    </div>

{% if is_admin %}

<div class="create_category">
    <p>
        <button class="basic_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Создать новую категорию
        </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form method="post">
            <label class="step">Введите название новой категории:</label><br>
            <input class="new_cat_name" type="text" name="new_category_name" placeholder="Название"><br>
            <button class="basic_button" type="button" id="submit_cat" name="new_category_name_submit">Сохранить</button>
        </form>
      </div>
    </div>
</div>
    <a href="/del_category/" class="basic_button" type="button" style="text-decoration: none;">Удалить категорию </a>
{% endif %}

    </div>
