<div class="products_list">
<table id="myInput" class="basic_table table-striped table-responsive-xl add_product">
    <tr class="head">
        <th>Наименование продукта</th>
        <th>Калории на 100гр/Ккал</th>
        <th>Белки на 100гр/Гр</th>
        <th>Жиры на 100гр/Гр</th>
        <th>Углеводы на 100гр/Гр</th>
        <th>Добавить в расчет</th>
        <th>Информация о продукте</th>
        {% if is_admin %}
        <th>Изменить продукт</th>
        {% endif %}
    </tr>
    {% for product in product_list %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.kkal}}</td>
            <td>{{product.proteins.proteins}}</td>
            <td>{{product.fats.fats}}</td>
            <td>{{product.carbs.carbs}}</td>
            <td><a href="/product_list/?product_id={{product.id}}" class="btn btn-light" type="button" style="text-decoration: none;">Добавить в расчет</a></td>
            <td><a href="/product_view/?product_id={{product.id}}" type="button" class="btn btn-light" style="text-decoration: none;">Просмотр</a></td>
<!--            <td><input type="button" class="btn btn-light" value="Просмотр"></td>-->
            {% if is_admin %}
            <td><a href="/product_update/?product_id={{product.id}}" type="button" class="btn btn-light" style="text-decoration: none;">Изменить</a></td>
<!--            <td><input type="button" class="btn btn-light" value="Изменить"></td>-->
            {% endif %}
        </tr>
    {% endfor %}
</table>
</div>