<style>

.select_cat {
display: block;
width: 40%;
margin: auto;
align-items: center !important;
justify-content: center !important;
}

.cat_options {
align-items: center !important;
justify-content: center !important;
}

.card {
margin: auto;
width: 70%;
}

.card-body {
background-color: #e3cdb8;
border: none !important;
padding: 10px !important;
padding-top: 10px !important;
}

.collapse {
width: 80%;
margin: auto;
}

.category_list {
align-items: center !important;
justify-content: center !important;
}

.category_list p {
margin-bottom: 0;
}

.add_product {
width: 80% !important;
padding: 10px;
margin: auto;
background-color: #e7beb1;
color: black;
border-radius: 10px !important;
border: 1px solid white !important;
font-size: 15px;
text-align: center;
table-layout: auto !important;
}

.add_product td
{
    text-align: center !important;
    vertical-align: middle !important;
    padding: 10px;
    background-color: #eee2d6;
    border: 1px solid white;
}

.add_to_calculator {
align-text: center;
}

input[type="text"] {
    width: 250px;
    height: 50px;
    text-align: left;
    margin: auto;
}

 div {
        margin: 24px;
        text-align: center;
}

#search_product:focus {
outline:none;
}

.new_cat_name:focus {
outline:none;
}

.add_to_calculator > input {
margin-bottom: 15px;
}

</style>
