 <!-- Basic style that applies to all pages -->
    <style>
        body
        {
        font-family: "Garamond";
        color: #63615b;
        }

        .main
        {min-height: 100vh;
        margin: auto;
        padding: 20px;}

        .navbar-brand
        {font-size:300%;
        font-family: arial black;
        color: #738B13 !important;
        }

        .nav-item
        {font-weight: bold;
        font-size: 120%;
        padding-left: 15px;
        padding-right: 15px;}

        .navbar
        {border-bottom:
        10px solid #e5850b;
        background-color:
        #eee9de!important;}

        footer
        {bottom:0;
         width:100%;
         height:60px;
         padding: 10px 10px 0px 10px;
         text-align: center;
         background-color: #eee9de;
         border-top: 5px solid #e5850b;}

         .basic_button {
            font-size: 20px;
            background-color: #ec9706;
            border-radius: 5px;
            border: solid 3px #a9a9a9;
            padding: 15px;
            text-align: center;
            margin: 15px;
            color: black;
            }

            .basic_button:hover {
                background-color: #ec8506;
                color: black;
                }

             .basic_button:focus {
                outline:none !important;
                }

             .basic_table {
                width: 70%;
                padding: 15px;
                margin: auto;
                font-size: 15px;
                text-align: center;
                vertical-align: middle;
                white-space: wrap;
                }

            .step {
            color: #63615b;
            font-size: 30px;
            padding: 5px;
            text-align: center;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            margin-bottom: 15px;
            align-items: center !important;
            justify-content: center !important;
            }

    </style>