<style>

fieldset {
    border: none;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #f2d7a4;
    opacity: 0.8;
    align-text: center;
    padding-left: 50px;
    padding-top: 10px;
    border-radius: 5px;
}

label {
display: block;
padding: 5px;
margin: 5px;
padding-bottom: 0px;

}

input{
margin: 5 px;
padding: 5px;
min-width: 30%;
width: 90%;
}

.subject {
margin: 5 px;
padding: 5 px;
min-width: 30%;
width: 90%;
}

span {
color: red;}

input[type="submit"] {
padding: 5px;
border-radius: 5px;
background-color: #a9a9a9;
text-align: center;}

#fname:focus {
outline:none;
}

#lname:focus {
outline:none;
}

#email:focus {
outline:none;
}

#subject:focus {
outline:none;
}

legend {
padding-bottom: 50px;
font-weight: bold;
color: #ec9706;
font-size: 30px;
}

.contact_button {
text-align: left;
margin: 0;
}

.contact {
background-color: #ec9706 !important;
margin-left: 0px !important;
width: 50% !important;
border: 5px;
}

.contact:hover {
background-color: #ec8506 !important;
color: black;
}

</style>