
.pass {
    display: grid;
    place-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
}

.password {
display: block !important;
margin: auto !important;
}

input {
    text-align: left;
    margin: auto;
    height: 60%;
    font-size: 20px;
}
