
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      width: 80%;
      align-items: stretch;
      margin: auto;
    }

                .grid-item1 {
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-row: 1;
                    background-color: #a1bdc2;
                    justify-content: center;
                    margin: auto;
                    text-align: center !important;
                    font-weight: bold;
                    }
                            .basic_parameters input[type="number"] {
                            width: 10%;
                            }
                            .basic_parameters input[type="text"] {
                            width: 20%;
                            }
                            .basic_parameters select {
                            width: 15%;
                            }

                .grid-item2 {
                    grid-column: 1;
                    grid-row-start: 2;
                    grid-row-end: 5;
                    background-color: #f2e8de;
                    }


               .grid-item3 {
                     grid-column: 3;
                     grid-row-start: 2;
                     grid-row-end: 7;
                     background-color: #efba61;
                    }

                .grid-item5 {
                    grid-column: 2;
                    grid-row-start: 4;
                    grid-row-end: 6;
                    background-color: #f5deb3;
                    }


                .grid-item4 {
                    grid-column: 2;
                    grid-row-start: 2;
                    grid-row-end: 4;
                    background-color: #bdbc70;
                    }

                .grid-item6 {
                    grid-column: 1;
                    grid-row-start: 5;
                    grid-row-end: 7;
                    background-color: #edcabe;
                    }

                .grid-item7 {
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 6;
                    grid-row-end: 7;
                    background-color: #a1bdc2;
                    }

                .grid-item {
                    padding: 10px;
                    padding-right: 30px;
                    border: solid 1px;
                    margin: 10px;
                    font-size: 15px;
                    text-align: right;

                    border-radius: 10px;
                    border: solid 3px #a9a9a9;
                    }


                span {
                    font-weight: bold;
                    }

  input[type=number], input[type=text], select {
      width: 25%;
      padding: 5px 5px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}


    input::placeholder {
    color: white;
    }

.step {
color: #63615b;
font-size: 30px;
padding: 5px;
text-align: center;
width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 35px;
margin-bottom: 15px;
}

button {
margin: 15px;
background-color: #ce7c2d;
color: white;
}

.new-product-buttons {
margin-top: 5px;
margin-bottom: 0;
text-align: center;
}