
.flexbox-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-item: center;
    width: 70%;
    margin: auto;
    border-radius: 15px;

}

.flexbox-item {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid 3px #a9a9a9;
    min-width: 200px;
    min-height: 100px;
    background-color: #90afb5;
}

#calculate_results {
 text-align: center;
}


.calculator {
text-align: center;
width: 100%;
}


.sel_prod td{
background-color: #bab961;
color: black;
border: 1px solid white;
}

.sel_prod {
background-color: #b1b05d;
border: 1px solid white;
}


.calc_res {
background-color: #eaad4f;
border: 1px solid white;
}

.calc_res td{
background-color: #f2d7a4;
color: black;
border: 1px solid white;
}
